@{
    ViewBag.Title = "SuccessGeneratePassword";
}
    <div class="row" style="align-content:center;vertical-align: middle;text-align:center">

<h2 >Generowanie nowego hasła</h2>
     <p  style="margin-top:2%;">  <label> Twoje nowe hasło zostało wysłane na twój adres e-mail.</label></p>
 <p>
    <button type="button" class="btn btn-default btn-circle btn-xl " style="margin-right:5px;margin-top:2%;margin-bottom:5%;" onclick="location.href='@Url.Action("Index", "Home")';return false;"><i class="glyphicon glyphicon-home"></i></button>
    </p>
        </div>