
 <div class="container" style="margin-top: 5%; text-align: center">
        <button type="button" class="headdiv" id="button1">Pole i obwód</button>
        <div class="containerdropdown" id="PoleIObwod">
            <label class="col-sm-2 control-label" for="textinput">Pole</label>
            <div class="col-sm-4">
                <input type="text" id="fieldArea" class="form-control" disabled="disabled">
            </div>

            <label class="col-sm-2 control-label" for="textinput">Obwód</label>
            <div class="col-sm-4">
                <input type="text" id="circuitArea" class="form-control" disabled="disabled">
            </div>
        </div>
        <button type="button" class="headdiv" id="button2">Współrzędne punktów</button>
        <div class="containerdropdown" id="wspolrzedne">
        </div>
        <button type="button" class="headdiv" id="button3">Kąty obszaru</button>
        <div class="containerdropdown" id="katy">
        </div>
        <button type="button" class="headdiv" id="button4">Długości odcinków</button>
        <div class="containerdropdown" id="linie">
        </div>
        <button type="button" class="headdiv" id="button5">Długości przekątnych</button>
        <div class="containerdropdown" id="przekatne">
        </div>
    </div>
